Django==1.6.7
Fabric==1.10.0
Markdown==2.5
Pillow==2.5.3
South==1.0
Werkzeug==0.9.6
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.18
boto==2.32.1
celery==3.1.15
coverage==3.7.1
dj-database-url==0.3.0
dj-static==0.0.6
django-appconf==0.6
django-avatar==2.0
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.1
django-extensions==1.4.0
django-imagekit==3.2.2
django-memcache-status==1.1
django-storages==1.1.8
django-suit==0.2.11
django-summernote==0.5.14
django-taggit==0.12.1
django-tastypie==0.12.0
django-waffle==0.10
ecdsa==0.11
gunicorn==19.1.1
kombu==3.0.23
mock==1.0.1
model-mommy==1.2
paramiko==1.14.1
pilkit==1.1.9
psycopg2==2.5.4
pycrypto==2.6.1
pyparsing==2.0.2
pystache==0.5.4
python-dateutil==2.2
python-mimeparse==0.1.4
pytz==2014.7
six==1.8.0
sqlparse==0.1.11
static==1.0.2
static3==0.5.1
wsgiref==0.1.2
