{% extends "_layouts/base_head_nav.html" %}

{% block page_title %}Albums | {% endblock %}

{% block page_content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Team Surmandl Blog
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url "Home" %}">Home</a>
                    </li>
                    <li class="active">
                        Album Gallery
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            {% for image in image_list %}
                {% for album in image.albums.all %}
                    {% for album_users in album.authorized_users.all %}
                        {% if album_users.email == user.email %}
                            <div class="col-md-2">
                                <label for="alumbimgthumb">
                                    <a href="{% url "gallery:images" album.id %}">{{ album.title }}</a>
                                </label>
                            <img src="{{ image.image_thumb.url }}" alt="{{ image.title }}" class="img-rounded" id="alumbimgthumb">
                            </div>
                        {% endif %}
                    {% empty %}
                        {% if album.all_users == True %}
                            <div class="col-md-2">
                                <label for="alumbimgthumb">
                                    <a href="{% url "gallery:images" album.id %}">{{ album.title }}</a>
                                </label>
                            <img src="{{ image.image_thumb.url }}" alt="{{ image.title }}" class="img-rounded" id="alumbimgthumb">
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}