{% extends "_layouts/base_head_nav.html" %}

{% block page_title %}Albums | {% endblock %}

{% block page_content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Team Surmandl Blog
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url "Home" %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url "gallery:album" %}">Album Gallery</a>
                    </li>

                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% for image in image_list %}
                    <div class="col-md-2">
                        <label for="imgthumb">
                            <a href="{% url "gallery:images_show" image.id album_id %}">{{ image.title }}</a></label>
                        <img src="{{ image.image_thumb.url }}" alt="{{ image.title }}" class="img-rounded"
                             id="imgthumb">
                    </div>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock %}