{% extends "_layouts/base_head_nav.html" %}

{% block gallery_home_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/single-gallery.css" type="text/css"/>
{% endblock %}

{% block page_title %}Albums | {% endblock %}

{% block page_content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Team Surmandl Blog
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url "Home" %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url "gallery:album" %}">Album Gallery</a>
                    </li>

                </ol>
            </div>
        </div>
        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {% for image in image_list %}
                        <div class="col-md-2">
                        <a href="{% url "gallery:images_show" image.id album_id %}"><img src="{{ image.image_thumb.url }}" alt="{{ image.title }}" class="img-rounded"
                             id="imgthumb"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}