{% extends "_layouts/base.html" %}
{% block other_css_items %}
  <link href="{{ STATIC_URL }}css/carousel.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/home.css" rel="stylesheet">
{% endblock %}
{% block other_js_items %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/respond.min.js"></script>
    <![endif]-->
{% endblock %}