{% extends "_layouts/base.html" %}

{% block other_head_items %}
    <link href="{{ STATIC_URL }}css/home.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block page_title %}My profile - change password {% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    My profile - change password
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url "Home" %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url "profile:user" %}">My profile - home</a>
                    </li>
                    <li class="active">
                        My profile - change password
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="well">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}  Use the links above to return to your profile or the home page
                            </div>
                        {% endfor %}
                    {% else %}
                    <form role="form" enctype="multipart/form-data" method="post" action="#">
                        {% csrf_token %}
                        {% if form.new_password2.errors %}
                            <div class="alert alert-danger" role="alert">
                                <h4>Oh No!! {{ form.new_password2.errors.as_text|cut:"* " }}</h4>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="new_password1">{{ form.new_password1.label }}</label>
                            {{ form.new_password1 }}
                        </div>
                        <div class="form-group">
                            <label for="new_password2">{{ form.new_password2.label }}</label>
                            {{ form.new_password2 }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}