{% extends "_layouts/base.html" %}

{% block other_head_items %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/signin.css" />
{% endblock %}

{% block page_content %}


    <div class="container">
    <script type="text/javascript">
        $.backstretch("{{ STATIC_URL }}img/HomePagePic1.jpg");
    </script>

    <form class="form-signin">
        <h2 class="form_signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Email address" autofocus/>
        <input type="password" class="form-control" placeholder="Password" />
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary btn-block" type="submit">Sign in</button>
    </form>
    </div>

{% endblock %}