{% extends "_layouts/base_head_nav.html" %}

{% block page_title %}Blog Posts | {% endblock %}


{% block page_content %}
    <div class="container" xmlns="http://www.w3.org/1999/html" onload="init();">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Team Surmandl Past Locations
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url "Home" %}">Home</a>
                    </li>
                    <li class="active">
                        Past Locations
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for location in location_list %}
                    <h4>{{ location.location_title }}</h4>
                    <div id="map" class="map"></div>
                    <script type="text/javascript">
                        var vectorSource = new ol.source.Vector({
                            // Create empty vector
                        });

                        var iconFeature = new ol.Feature({
                            geometry: new ol.geom.Point(
                                    ol.proj.transform([{{ location.pin_longitude }}, {{ location.pin_latitude }}], 'EPSG:4326', 'EPSG:3857')
                            ),
                            name: 'Surmandl HQ'
                        });

                        vectorSource.addFeature(iconFeature);

                        //create the style
                        var iconStyle = new ol.style.Style({
                            image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                                anchor: [0.5, 46],
                                anchorXUnits: 'fraction',
                                anchorYUnits: 'pixels',
                                opacity: 0.75,
                                src: 'http://ol3js.org/en/master/examples/data/icon.png'
                            }))
                        });

                        var vectorLayer = new ol.layer.Vector({
                            source: vectorSource,
                            style: iconStyle
                        });

                        var map = new ol.Map({
                            target: 'map',
                            layers: [
                                new ol.layer.Tile({
                                    source: new ol.source.OSM()
                                }),
                                vectorLayer
                            ],
                            view: new ol.View({
                                center: ol.proj.transform([{{ location.map_center_longitude }}, {{ location.map_center_latitude }}], 'EPSG:4326', 'EPSG:3857'),
                                zoom: 14
                            }),
                            controls: ol.control.defaults({
                                attributionOptions: {
                                    collapsible: false
                                }
                            })
                        });
                    </script>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}