{% extends "_layouts/base_head_nav.html" %}

{% block page_title %}Blog Posts | {% endblock %}


{% block page_content %}

    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Team Surmandl Blog
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url "Home" %}">Home</a>
                    </li>
                    <li class="active">
                        Blog
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h1>
                    {% for post in post_list %}
                        <h1 id="blog_title">
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </h1>
                        <p class="lead">
                            by {{ post.author }}
                        </p>
                        <hr>
                        <p>
                        <span class="glyphicon glyphicon-time">
                        </span> Posted on {{ post.created_at }}
                        </p>
                        <hr>
                        <p>
                            {{ post.content|safe }}
                        </p>
                        <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Read More</a>
                    {% empty %}
                        <li>Sorry, no posts....</li>
                    {% endfor %}
                </h1>
            </div>
            {% if user.is_staff %}
                <div class="col-lg-4">
                    <div class="well">
                            <label for="post_link">Working with content</label>
                            <p>
                            <a href="{% url "admin:index" %}" id="post_link">Create or Edit posts</a>
                            </p>
                    </div>
                </div>
            {% endif %}
            <div class="col-lg-4">
                <div class="well">
                    <label for="tag_link">Search for a blog by tag</label>
                    <p>
                    {% for tag in    tags %}
                        <a class="label label-default" href="{% url 'blog:tagged' tag.slug %}" id="tag_link">{{ tag.name }}</a>
                    {% empty %}
                        <h4>No Tags</h4>
                    {% endfor %}
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="well">
                    <form role="form" method="get" action="{% url 'blog:search' %}">
                        <label for="title_search">Search for a blog by title</label>
                        <input type="text" id="title_search" name="title_search"/>
                        <button class="btn btn-primary btn-sm">Search</button>
                    </form>
                </div>
            </div>
        </div>
        {% if is_paginated %}
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <p>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% endif %}
                        {% for pg in page_obj.paginator.page_range %}
                            {% if page_obj.number == pg %}
                                <li class="active"><a href="?page={{ pg }}">{{ pg }}<span
                                        class="sr-only">(current)</span> </a>
                                </li>
                            {% else %}
                                <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Team Surmandl 2014</p>
                </div>
            </div>
        </footer>

    </div>

{% endblock %}