{% extends "_layouts/base.html" %}

{% block page_content %}
    {% include "_layouts/nav.html" %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {% if object %}
                        Update Blog Post
                    {% else %}
                        Create New Blog Post
                    {% endif %}
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url "Home" %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url "blog:list" %}">Blog Home</a>
                    </li>
                    {% if object %}
                        <li class="active">Update post</li>
                    {% else %}
                        <li class="active">Create post</li>
                    {% endif %}
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h3>New post</h3>

                <form role="form" enctype="multipart/form-data" method="post" action="#">{% csrf_token %}
                    <div class="row">
                        <div class="form-group col-lg-4">
                            {{ form.title.label_tag }}
                            {{ form.title }}
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-4">
                            {{ form.published.label_tag }}:
                            {{ form.published }}
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-4">
                            {{ form.photo.label_tag }}
                            {% if form.instance.photo %}
                                <img src="{{ form.instance.photo.url }}"/>
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-4">
                            {{ form.photo }}
                            <p class="help-block">Select a new photo or check to clear current photo</p>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="photo_clear"> Clear photo
                                </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-4">
                            {{ form.author.label_tag }}
                            {{ form.author }}
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-12">
                            {{ form.content.label_tag }}
                            {{ form.content }}
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="hidden" name="save" value="blog_post">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
                <hr/>
                {% if user.is_staff %}
                    {% for comment in comments %}
                        <h3>{{ comment.author }}
                            <small>{{ comment.created_at }}</small>
                        </h3>
                        <p>{{ comment.comment }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}